# Eigene Ordner
svg_web_editor_for_info/

# VS Code
.vscode/

# IntelliJ / JetBrains
*.iml
.idea/

# Node / npm
node_modules/

# Obsidian
data.json
.obsidian/

# Build-Dateien & Sourcemaps
main.js
*.map

# System-Dateien
.DS_Store
Thumbs.db